#pageContainer {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding: 0 20px 0;
  margin: 0 auto 0;
  /* max-width: 1200px; */
}

.layout {
  /* width: 100vw; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: auto;
  width: 800px;
  height: 100vh;
}

.header {
  /* grid-area: header; */
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
}

.leftSide {
  grid-area: leftSide;
  background-color: red;
}
.body {
  grid-area: body;
}
.rightSide {
  grid-area: rightSide;
}

.footer {
  position: absolute;
  z-index: 100;

  bottom: 2px;

  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1rem 0;
}
